h1,
h2 {
  font-family: Lato;
}

body {
  margin: 0;
  padding: 3rem;
  display: grid;
  place-items: center;
}

.wrapper {
  overflow: auto;
  width: 800px;
  height: 500px;
}

.content {
  position: relative;
  overflow: hidden;
}
.shift {
  will-change: transform;
}

.shift p {
  margin: 0;
  padding: 24px;
  height: 100px;
  box-sizing: border-box;
}

.row {
    box-sizing: border-box;
    background: rgb(215 254 133);
    font-size: 24px;
    border: 1px solid #ff4c13;
}